# 1. Stock Data retrieval from the provided 3000 cusips

In [ ]:
# load ticker csv
# https://stackoverflow.com/questions/48692264/how-to-import-csv-column-as-list-in-python/48692563
import csv 
ticker = []

with open('symbol.csv','r') as f:
    reader = csv.reader(f,delimiter=',')
    for n, row in enumerate(reader):
        if not n:
            continue
        temp = []
        temp.append(row[0])
        temp.append(row[1])
        ticker.append(temp)
f.close()

In [ ]:
# connect to mysql
from __future__ import print_function

import mysql.connector as mysql
from mysql.connector import errorcode

db = mysql.connect(host = "localhost", user = "root", passwd = "Farewell123", database="Stock")
cursor = db.cursor()

In [ ]:
# Create database and table

DB_NAME = 'Stock'
TABLES = {}
TABLES['BarValues'] = (
    "CREATE TABLE BarValues ( Ticker VARCHAR(10),"
    "CompanyName Longtext,"
    "Date date,"
    "Open decimal(18,4),"
    "High decimal(18,4),"
    "Low decimal(18,4),"
    "Close decimal(18,4),"
    "AdjClose decimal(18,4),"
    "Volume bigint)"
#    "PRIMARY KEY (Ticker))"
)


def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)
      
    
try:
    cursor.execute("USE {}".format(DB_NAME))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print("Database {} created successfully.".format(DB_NAME))
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

In [ ]:
import pandas as pd
from yahoofinancials import YahooFinancials

# Inserting query
add_barvalues = ("INSERT INTO BarValues "
               "(Ticker, CompanyName, Date, Open, High, Low, Close, AdjClose, Volume) "
                "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)")

problematic_ticker = []

# Retrieval data and insert data
def fetch_insert_data(t, st='2017-01-01', ed='2018-12-31'):
    table = YahooFinancials(t[1])
    try:
        table = pd.DataFrame(table.get_historical_price_data(st, ed, 'daily')[t[1]]['prices'])
        for index, row in table.iterrows():
            if pd.notnull(row['adjclose']):
                data_barvalues = (t[1], t[0], row['formatted_date'], row['open'], row['high'], row['low'], row['close'], \
                                  row['adjclose'], row['volume'])
                cursor.execute(add_barvalues, data_barvalues)
    except:
        problematic_ticker.append(t)
        print("This ticker is not retrievalable: ", t[0], t[1])

# stocks
for t in ticker:
    fetch_insert_data(t)

# SP500: ^GSPC, 13 week treasury bill:^IRX
ticker2 = [['SP500','^GSPC'],['13 Week Treasury Bill','^IRX']]
for t in ticker2:
fetch_insert_data(t)
fetch_insert_data(['13 Week Treasury Bill','^IRX'])


# save the problematic cusips
with open("problematic_cusips.csv","w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(problematic_ticker)
f.close()

In [ ]:
# make sure data is committed to the database
db.commit()

#close
cursor.close()
db.close()

# 2. Analytics(Beta for each of the cusips)
a) select 10 stocks thatâ€™s the weight average of the beta is equal to the provided target beta =1.9

b) calculate the P&L for your portfolio for additional year. (For example, beta is calculated from 1/1/2013 to 1/1/2014. P&L should be calculated from 1/1/2014 to 1/1/2015    

c) Output result to DB

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sqlalchemy import create_engine
import mysql.connector as mysql
from mysql.connector import errorcode

engine = create_engine('mysql+pymysql://root:Farewell123@localhost/Stock')
con = engine.connect()

db = mysql.connect(host = "localhost", user = "root", passwd = "Farewell123", database="Stock")
cursor = db.cursor()

# Linear Regression(CAPM):
# We use SP500 as our market benchmark, and use 13-week Treasury Bill rate as risk free rate

stocks = pd.read_sql_query('SELECT DISTINCT ticker FROM BarValues', engine)
rf = pd.read_sql_query('SELECT adjclose, date FROM BarValues WHERE ticker = "^IRX" order by date ', engine)
rf["adjclose"] = rf["adjclose"]/36000
mkt = pd.read_sql_query('SELECT adjclose, date FROM BarValues WHERE ticker ="^GSPC" order by date', engine)
mkt["ret"] = ( mkt["adjclose"] - mkt["adjclose"].shift(1)) / mkt["adjclose"].shift(1)
mkt["ex_ret"] = mkt["ret"] - rf["adjclose"]
mkt = mkt.dropna()
result = []

add_resulttable = ("INSERT INTO ResultTable (Ticker, Date, Ret) VALUES (%s, %s, %s)")

for stock in stocks["ticker"]:
    prices = pd.read_sql_query('SELECT adjclose, date FROM BarValues WHERE ticker = "%s" order by date'%(stock), engine)
    prices["ret"] = ( prices["adjclose"] - prices["adjclose"].shift(1)) / prices["adjclose"].shift(1)
    prices = prices.dropna()
    
    # store return
    for index, row in prices.iterrows():
        try:
            data_resulttable = (stock, row["date"], row["ret"])
            cursor.execute(add_resulttable, data_resulttable)
        except:
            print(stock, row["date"])
    
    prices["ex_ret"] = prices["ret"] - rf["adjclose"]
    s1 = mkt["ex_ret"][0:251].to_numpy()
    l = len(s1)
    try:
        s1 = np.array(s1).reshape(l,1)
        s2 = prices["ex_ret"][0:251].to_numpy()
        model = LinearRegression().fit(s1,s2)
        print(stock, "success!")
        result.append([stock, model.coef_[0], model.score(s1,s2)])
    except:
        print(stock, "fail!")

In [ ]:
# Store result
regTable= pd.DataFrame(result, columns=['ticker','beta','r2'])

add_regtable = ("INSERT INTO RegressionTable (Ticker, beta, r2) VALUES (%s, %s, %s)")
for index, row in regTable.iterrows():
    try:
        data_regtable = (row["ticker"], row["beta"], row["r2"])
        cursor.execute(add_regtable, data_regtable)
    except:
        print(row["ticker"], "fail")

In [ ]:
# Construct Portfolio whose beta equals to our target beta:

# We choose the top 5 stocks ordered by r-square descreased, grouped by beta(>target beta and <target beta).
# Then construct two portfolios: above-beta and below-beta, both equal weighted.
# After that, we construct our final portfolio of the two portfolios with the targeted beta by adjusting the weights, 
# which is got by solving a simple equation.

target_beta= 1.9

above = pd.read_sql_query('SELECT ticker, beta From RegressionTable WHERE beta > 1.9 ORDER BY r2 DESC', engine)
above = above.iloc[:5]
above_beta = above['beta'].mean()
print(above)

below = pd.read_sql_query('SELECT ticker, beta FROM RegressionTable WHERE beta < 1.9 AND ticker <> "^GSPC ORDER BY r2 DESC "', engine)
below = below.iloc[:5]
print(below)
below_beta = below['beta'].mean()
print(above_beta)
print(below_beta)

w1 = (target_beta - below_beta)/(above_beta - below_beta)
w2 = 1-w1
print(w1,w2)

In [ ]:
engine = create_engine('mysql+pymysql://root:Farewell123@localhost/Stock')
con = engine.connect()

frame = [above, below]
tickerlist = pd.concat(frame)
print(tickerlist)

portfolio = pd.read_sql_query("SELECT DISTINCT date FROM BarValues WHERE date > '2017-12-31' ORDER BY date",engine)
for stock in tickerlist['ticker'] :
    ret = pd.read_sql_query('SELECT ret FROM ResultTable WHERE ticker = "%s" AND date > "2017-12-31" ORDER BY date'%(stock), engine)
    portfolio[stock] = ret
port_value = []
for index, row in portfolio.iterrows():
    above_ave = row[1:6].mean()
    below_ave = row[6:11].mean()
    port_value.append( w1*above_ave + w2*below_ave)
    # print(above_ave, below_ave, w1 , w2,w1*above_ave + w2*below_ave)
portfolio["port_value"] = port_value
print(portfolio)

In [ ]:
# Make sure everything is closed.
con.close()
cursor.close()
db.close()